<div class="container-fluid">
    <div class="row">
          <div class="col-md-3 align-items-center">
                  <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                  <p class="produto-texto">Piso Rotocolor Angra<br>
                       44,75x44,75 bege claro<br>
                       Formigres</p>
                       <p class="preço">10,90</p>
                       <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
               </div>
               <div class="col-md-3 align-items-center">
                       <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                       <p class="produto-texto">Piso Rotocolor Angra<br>
                            44,75x44,75 bege claro<br>
                            Formigres</p>
                            <p class="preço">10,90</p>
                            <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                    </div>
                    <div class="col-md-3 align-items-center">
                          <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                          <p class="produto-texto">Piso Rotocolor Angra<br>
                               44,75x44,75 bege claro<br>
                               Formigres</p>
                               <p class="preço">10,90</p>
                               <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                       </div>
                       <div class="col-md-3 align-items-center">
                              <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                              <p class="produto-texto">Piso Rotocolor Angra<br>
                                   44,75x44,75 bege claro<br>
                                   Formigres</p>
                                   <p class="preço">10,90</p>
                                   <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                           </div>
                           <div class="col-md-3 align-items-center">
                                  <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                                  <p class="produto-texto">Piso Rotocolor Angra<br>
                                       44,75x44,75 bege claro<br>
                                       Formigres</p>
                                       <p class="preço">10,90</p>
                                       <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                               </div>
                               <div class="col-md-3 align-items-center">
                                      <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                                      <p class="produto-texto">Piso Rotocolor Angra<br>
                                           44,75x44,75 bege claro<br>
                                           Formigres</p>
                                           <p class="preço">10,90</p>
                                           <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                                   </div>
                                   <div class="col-md-3 align-items-center">
                                          <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                                          <p class="produto-texto">Piso Rotocolor Angra<br>
                                               44,75x44,75 bege claro<br>
                                               Formigres</p>
                                               <p class="preço">10,90</p>
                                               <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                                       </div>
                                       <div class="col-md-3 align-items-center">
                                              <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                                              <p class="produto-texto">Piso Rotocolor Angra<br>
                                                   44,75x44,75 bege claro<br>
                                                   Formigres</p>
                                                   <p class="preço">10,90</p>
                                                   <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                                           </div>
                                           <div class="col-md-3 align-items-center">
                                                  <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                                                  <p class="produto-texto">Piso Rotocolor Angra<br>
                                                       44,75x44,75 bege claro<br>
                                                       Formigres</p>
                                                       <p class="preço">10,90</p>
                                                       <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                                               </div>
                                               <div class="col-md-3 align-items-center">
                                                      <img class="produto-img" src="assets/images/thumb-lightbox-produtos.png" />
                                                      <p class="produto-texto">Piso Rotocolor Angra<br>
                                                           44,75x44,75 bege claro<br>
                                                           Formigres</p>
                                                           <p class="preço">10,90</p>
                                                           <a class="btn-produto-lightbox" href="#" data-toggle="modal" data-target="#exampleModal">Colocar na Cesta</a>
                                                     </div>
      </div>
    </div>
